body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

.add-ip-input,
.edit-ip-input {
  outline: none;
}

.add-ip-input:focus,
.edit-ip-input:focus {
  border: none !important;
  box-shadow: none !important;
}

.view-opt-label,
.date-label {
  font-size: 0.8rem;
}

.edit-ip-input {
  font-size: 1.7rem !important;
}

.ip-actions {
  visibility: hidden !important;
}

.ip-item:hover .ip-actions {
  visibility: visible !important;
}

.ip-item.editing .ip-actions .edit-icon {
  display: none !important;
}
